@import "_foundation/variables";
@import "_foundation/bootstrap";

@font-face {
  src: url('/variable-text/fonts/Secuela-Regular-VF.woff2');
  font-family: 'Secuela';
  font-style: normal;
}

@font-face {
  src: url('/variable-text/fonts/Secuela-Italic-II-VF.woff2');
  font-family: 'Secuela';
  font-style: italic;
}

@font-face {
  src: url('/variable-text/fonts/RocherColorGX.woff2');
  font-family:'Rocher Color';
  font-style: normal;
}

@font-face {
  src: url('/variable-text/fonts/GradeGX4-GX-fixed-axis-name.woff2');
  font-family:'GradeGX';
  font-style: normal;
}
body {
  background-color: $color-black;
}

.sample {
  font-family: 'GradeGX';
  font-size: 11.2em;
  line-height: 1.4em;
  font-variation-settings: 'wght' 90,'wdth' 0;
  transition-property: 'font-variation-settings';
  transition-duration: 800ms;
  transition-timing-function: ease;
}

.form {
  &-group {
    position: relative;
    height: 100vh;

    .container {
      padding-top: 200px;
    }
  }

  &-control-container {
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
  }
}

.oblique {
  font-style: oblique;
}

.grey {
  color: $color-grey;
}

.white {
  color: $color-white;
}
