@import "_foundation/variables";
@import "_foundation/bootstrap";

@font-face {
  src: url('/fonts/Secuela-Regular-VF.woff2');
  font-family: 'Secuela';
  font-style: normal;
}

@font-face {
  src: url('/fonts/Secuela-Italic-II-VF.woff2');
  font-family: 'Secuela';
  font-style: italic;
}

@font-face {
  src: url('/fonts/RocherColorGX.woff2');
  font-family:'Rocher Color';
  font-style: normal;
}

@font-face {
  src: url('/fonts/GradeGX4-GX-fixed-axis-name.woff2');
  font-family:'GradeGX';
  font-style: normal;
}
body {
  background-color: #000;
}

p {
  font-size: $type-size;
}

.form {
  &-group {
    position: relative;
    height: 100%;
    padding-top: 200px;
  }

  &-control-container {
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
  }
}

.oblique {
  font-style: oblique;
}

.grey {
  color: #858990;
}

.white {
  color: #ffffff;
}